@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

p {
  font-family: 'Poppins', sans-serif;
  line-height: 14px;
  background: url("https://scontent.fdvo2-1.fna.fbcdn.net/v/t39.30808-6/257452504_344734477418353_7969733117459998399_n.jpg?_nc_cat=106&_nc_rgb565=1&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeELU9RJ9z_g4Y3EdMLwgcqCDTBwQlc46fwNMHBCVzjp_KKW4-FXUG4MwNFGr7qaiGE6BOdstEcoyoTOSBTEGpz9&_nc_ohc=xzShNWGrGi8AX9ZCWre&_nc_ht=scontent.fdvo2-1.fna&oh=eb9dcf6677a9622dcf88239b2b02845e&oe=619D908D");
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  background-size: 100vh;
  background-position: center;
}

body {
  background: black;
  overflow: hidden;
}
